*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E282A;
}
.main{
    height: 85vh;
    width: 90vw;
   color: black;
    background-color: #17BEBB;   
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    font-size: 20px;
}
h2{
    margin-bottom: 50px;
    font-size: 48px;
    color: #04052E;
}
.option{
    margin-bottom: 20px;
}
#input{
    height: 30px;
    width: 120px;
    text-align: center;
    padding: 0;
    background-color: #B8B8AA;
    margin-bottom: 20px;
}
button{
    background-color: #04052E ;
    width: 150px;
    height: 30px;
    margin-bottom: 30px;
    color: #E7ECEF;
}
#Display-Result{
    font-size: 25px;
}
@media(max-width: 768px){
    .main{
        width: 95vw;
        height: 90vh;
    }
    h2{
        font-size: 25px;
        font-weight: 900;
    }
}